Repository pietrobondioli/mywebsite-nextjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

.lintstagedrc:

{
  "*": [
    "npm run test -- --passWithNoTests"
  ],
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.{js,jsx,ts,tsx,css,md,json}": [
    "prettier --write --config ./.prettierrc"
  ]
}

refactor: cleanup project configs/deps, remove no longer needed scripts
  .commitlintrc.json
  .eslintignore
  .eslintrc
  .gitignore
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
  .lintstagedrc
  .npmrc
  .prettierignore
  LICENSE.md
  commitlint.config.js
  next-sitemap.config.js
  next.config.js
  package-lock.json
  package.json
  scripts/constants.js
  scripts/generateRobotsTxt.js
  scripts/generateSitemap.js
  tsconfig.json
Due: npm run test -- --passWithNoTests

refactor: add tailwindcss, add components
  .eslintrc
  package-lock.json
  package.json
  postcss.config.js
  src/components/Button/Button.tsx
  src/components/Button/index.tsx
  src/components/Footer/Footer.module.scss
  src/components/LinkButton/LinkButton.tsx
  src/components/LinkButton/index.tsx
  src/components/Loading/Loading.tsx
  src/components/Loading/index.tsx
  src/components/Navbar/Navbar.module.scss
  src/components/Navbar/NavbarItem/NavbarItem.module.scss
  src/components/Navbar/ToggleThemeButton/ToggleThemeButton.module.scss
  src/components/Section/Section.module.scss
  src/components/Section/SectionContent/SectionContent.module.scss
  src/components/Section/SectionContent/SectionContent.tsx
  src/components/Section/SectionTitle/SectionTitle.module.scss
  src/components/TerminalUnderslash/TerminalUnderslash.module.scss
  src/containers/About/Skills/Skills.module.scss
  src/containers/Contact/ContactForm/ContactForm.module.scss
  src/containers/Contact/ContactForm/ContactForm.tsx
  src/containers/Contact/ContactInfo/ContactCard/ContactCard.module.scss
  src/containers/Contact/ContactInfo/ContactInfo.module.scss
  src/containers/ErrorAlert/Error.module.scss
  src/containers/HomePage/Header/Header.module.scss
  src/pages/_app.tsx
  src/styles/base/config.scss
  src/styles/components/Button.scss
  src/styles/globals.scss
  src/styles/main.scss
  src/styles/themes/dark.scss
  src/styles/themes/light.scss
  src/styles/themes/pageTheme.scss
  src/styles/utils/mixins.scss
  src/styles/utils/variables.scss
  tailwind.config.js
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: update site content, skills, experience, knowledge, etc
  public/icons/about/essencial-gestao-publica-logo.png
  public/icons/skills/spring-boot-32px.png
  public/locales/en-US/about.json
  public/locales/en-US/articles.json
  public/locales/en-US/home.json
  public/locales/en-US/projects.json
  public/locales/pt-BR/about.json
  public/locales/pt-BR/articles.json
  public/locales/pt-BR/home.json
  public/locales/pt-BR/projects.json
  src/containers/About/Education/Education.tsx
  src/containers/About/Experience/Experience.tsx
  src/containers/About/Skills/SkillItem/SkillItem.tsx
  src/containers/About/Skills/Skills.tsx
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

fix: change import on i18next declaration file
  src/@types/i18next.d.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: update packages versions, update personal email
  next.config.js
  package-lock.json
  package.json
  public/locales/en-US/contact.json
  public/locales/pt-BR/contact.json
  src/locales/en-US/contact.json
  src/locales/pt-BR/contact.json
Due: npm run test -- --passWithNoTests, prettier --write --config ./.prettierrc

feat: fix typos, update content, change some UI
  public/locales/en-US/home.json
  public/locales/pt-BR/home.json
  src/components/Navbar/DesktopNavbar/DesktopNavbar.tsx
  src/components/Navbar/MobileNavbar/MobileNavbar.tsx
  src/components/Section/Section.tsx
  src/components/Section/SectionContent/SectionContent.tsx
  src/containers/About/Education/Education.tsx
  src/containers/About/Experience/Experience.tsx
  src/hooks/useIsMobile.ts
  src/hooks/useTypingAnimation.ts
  src/locales/en-US/about.json
  src/locales/en-US/articles.json
  src/locales/en-US/common.json
  src/locales/en-US/contact.json
  src/locales/en-US/error.json
  src/locales/en-US/home.json
  src/locales/en-US/projects.json
  src/locales/pt-BR/about.json
  src/locales/pt-BR/articles.json
  src/locales/pt-BR/common.json
  src/locales/pt-BR/contact.json
  src/locales/pt-BR/error.json
  src/locales/pt-BR/home.json
  src/locales/pt-BR/projects.json
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: add two articles, fix some bugs related to articles
  public/articles/cors-illustrated-guide/cors-illustrated.png
  public/articles/cors-illustrated-guide/not-same-origin-cors-disabled-en.png
  public/articles/cors-illustrated-guide/not-same-origin-cors-disabled-pt.png
  public/articles/cors-illustrated-guide/not-same-origin-cors-enabled-en.png
  public/articles/cors-illustrated-guide/not-same-origin-cors-enabled-pt.png
  public/articles/cors-illustrated-guide/same-origin-en.png
  public/articles/cors-illustrated-guide/same-origin-pt.png
  public/articles/solving-cors-problems-with-docker-nginx/cors-problems.png
  public/articles/why-and-how-you-should-protect-all-your-online-accounts/passwords-and-digital-security.png
  src/_articles/en-US/cors-illustrated-guide.md
  src/_articles/en-US/solving-cors-problems-with-docker-nginx.md
  src/_articles/en-US/why-and-how-you-should-protect-all-your-online-accounts.md
  src/_articles/pt-BR/guia-ilustrado-do-cors.md
  src/_articles/pt-BR/por-que-e-como-voce-deveria-proteger-todas-as-suas-contas-online.md
  src/_articles/pt-BR/solucionando-problemas-de-cors-com-docker-nginx.md
  src/containers/Article/Article.module.scss
  src/containers/Articles/ArticleCard/ArticleCard.tsx
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

fix: chmod husky scripts
  .husky/commit-msg
  .husky/common.sh
Due: npm run test -- --passWithNoTests

fix: fix articles slugs
  src/_articles/en-US/cors-illustrated-guide.md
  src/_articles/pt-BR/cors-illustrated-guide.md
  src/_articles/pt-BR/solving-cors-problems-with-docker-nginx.md
  src/_articles/pt-BR/why-and-how-you-should-protect-all-your-online-accounts.md
  src/containers/Articles/Articles.tsx
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

fix: article list layout was broken on mobile
  src/containers/Articles/Articles.tsx
  tailwind.config.js
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: remove unused libs/code, add syntax highlight to articles
  package-lock.json
  package.json
  src/_articles/en-US/solving-cors-problems-with-docker-nginx.md
  src/_articles/pt-BR/solving-cors-problems-with-docker-nginx.md
  src/containers/Article/Article.module.scss
  src/containers/Article/Article.tsx
  src/containers/Contact/ContactForm/ContactForm.module.scss
  src/containers/Contact/ContactForm/ContactForm.tsx
  src/containers/Contact/ContactForm/index.tsx
  src/pages/_app.tsx
  src/pages/articles.tsx
  src/pages/articles/[slug].tsx
  src/pages/contact.tsx
  src/utils/getArticle.ts
  src/utils/getArticlesSlugs.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

docs: remove old documentation from readme
  README.md
Due: npm run test -- --passWithNoTests

feat: initialize prisma
  prisma/schema.prisma
Due: npm run test -- --passWithNoTests

feat: add prisma/next-auth packages, update tsconfig, fix type errors
  package-lock.json
  package.json
  src/pages/articles.tsx
  src/pages/articles/[slug].tsx
  tsconfig.json
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: configure safe env initialization using t3 env lib
  .env.example
  src/env.mjs
Due: npm run test -- --passWithNoTests

feat: add next-auth and prisma config, generate first schemas for prisma
  prisma/schema.prisma
  src/pages/_app.tsx
  src/pages/api/auth/[...nextauth].ts
  src/server/auth.ts
  src/server/db.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: add schemas Article and Comment
  prisma/schema.prisma
Due: npm run test -- --passWithNoTests

feat: add github provider to next-auth
  .env.example
  src/env.mjs
  src/server/auth.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: add routes to get all articles/get by id
  src/pages/api/articles/[id]/index.ts
  src/pages/api/articles/index.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: add routes to get/post/put/delete comments
  src/pages/api/articles/[id]/articles.ts
  src/pages/api/comments/[id].ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: get session now throws an error on invalid session
  src/server/auth.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: update prisma schemas to ensure compatibility with planetscale
  prisma/schema.prisma
Due: npm run test -- --passWithNoTests

fix: comments route file name was incorrect
  src/pages/api/articles/[id]/comments.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: add prop to account schema to ensure compat w/ github, undo userId change
  prisma/schema.prisma
Due: npm run test -- --passWithNoTests

feat: add launch config to help debugging
  .vscode/launch.json
Due: npm run test -- --passWithNoTests

feat: add more props to Article schema
  prisma/schema.prisma
Due: npm run test -- --passWithNoTests

feat: add filters to get articles route, also content is not returned on get all
  src/pages/api/articles/index.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: add api service to be used by the client
  src/services/api.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat!: substitute getArticleSlugs with api fetch, remove unused stuff
  src/@types/index.d.ts
  src/pages/_error.tsx
  src/pages/about.tsx
  src/pages/articles.tsx
  src/pages/projects.tsx
  src/utils/getArticlesSlugs.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: add types to api methods
  src/services/api.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: get articles now can receive a preview parameter, to reduce response size
  .env.example
  src/pages/api/articles/index.ts
  src/services/api.ts
  src/utils/getArticle.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: change all articles pages/comps to use api
  next.config.js
  prisma/schema.prisma
  src/containers/Article/Article.tsx
  src/containers/Article/index.tsx
  src/containers/Articles/Articles.tsx
  src/pages/articles.tsx
  src/pages/articles/[slug].tsx
  src/utils/markdownToHtml.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

feat: articles are now rendered by category
  src/containers/Articles/Articles.tsx
  src/pages/articles.tsx
  src/utils/reduceArticlesByCategory.ts
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc

fix: fix broken getStaticPaths on article page
  src/pages/articles/[slug].tsx
Due: npm run test -- --passWithNoTests, eslint --fix, prettier --write --config ./.prettierrc
